fastTextmodel/
word2vecmodel/
smaller_datasets/
word2vecmodel_0/
word2vecmodel_1/
tempmodel/
fastTextmodel1/
word2vecmodel_2/
word2vecmodel_3/
word2vec_simple/
word2vecmodel_hs_1_group_model_0/
word2vecmodel_negative_1_group_model_0/
fastTextmodel_hs_1_group_model_0/
fasttext_simple/
fastTextmodel_negative_1_group_model_0/
word2vecmodel_hs_1_group_model_1/